html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: #fefefe;
}

.page-header {
	background: rgb(160, 160, 198);
}

.page-header__heading {
	color: rgb(60, 60, 150);
}

.article {}

.article__heading {}

.article__pararaph {
	color: rgb(113, 97, 47);
}



h2 {
	color: #1460AA;
}

.navigation {
	background: #dedede;
	padding: 16px;
}

.navigation__link {
	color: black;
}

.blue {
	color: blue;
}

.link {
	color: inherit;
}